#title-line{
	text-align: center;
}
body{
	background-color: #f700ff;
	font-family: "Montserrat",sans-serif;
}
#survey-form{
	width: 85%;
	max-width: 600px;
	background-color: #f1f1f1;
	padding: 30px 40px;
	border-radius: 2px;
	box-shadow: 0 0 10px #000000b3;
}
#survey-form input[type=submit]{
	height: 30px;
	color:#ffffff;
	font-size: 15px;
	background: #4CB96B;
	cursor: pointer;
	border-radius: 25px;
	border:none;
	outline: none;
	margin-right: 10px;
	width: 20%;
	font-weight: bold;
}
#survey-form input[type=reset]{
	height: 30px;
	color:#ffffff;
	font-size: 15px;
	background: red;
	cursor: pointer;
	border-radius: 25px;
	border:none;
	outline: none;
	margin-left: 10px;
	width: 20%;
	font-weight: bold;
}
#label{
	text-align: right;
}

td{
	padding: 10px;
}
